<div class="col-lg-7 mx-auto">
    <div class="card text-center">
        <div class="card-header">
          Join
        </div>
        <div class="card-body">
            <form (submit)="joinSession(sessionCode)">
                <div class="mb-5">
                    <label for="sessionCode" class="form-label">Session code</label>
                    <input class="form-control" id="sessionCode" aria-describedby="sessionCodeHelp" #sessionCode>
                    <div id="sessionCodeHelp" class="form-text">Session code provided by the tutor</div>
                </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <div class="text-center mt-5">
        <p>Or</p>
    
        <button type="button" class="btn btn-primary mt-4" routerLink="/create">Create</button>
    </div>
</div>